body {
    background-color: #bcd9e7;
}
.nav-item .nav-link {
    color:white;
    font-weight: bold;
    padding: 10px 0.8rem;
    text-align: center;
}
.nav-link:hover {
    background-color: white !important;
    color: #05427e !important;           
    border-radius: 5px;                  
    padding-left: 1rem;                   
}
.navbar{
    background-color: #05427e;
   
}

.card-widget {
    text-align: center;
    padding: 3.2rem;
    
}
.card{
    border-radius: 0.8rem;
    
}
a{
  text-decoration: none;
}
main{
    margin-top: 8rem;
}
.card-widget:hover .icon-effect {
    transform: scale(1.5); /* Increase the size on hover */
}
